<%- include("partials/header", { title: 'Faculty', home: false, about: false, faculty:true, club:false}) %>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GRIET Event Attendance Manager</title>
    <link rel="stylesheet" href="css/faculty2.css" />
    <script src="script/faculty2.js" defer></script>
  </head>
  <body>
    <main class="main-content">
      <form class="filters" method="POST" action="/get-data">
        <select name="year">
          <option value="">Year</option>
          <option value="1">I</option>
          <option value="2">II</option>
          <option value="3">III</option>
          <option value="4">IV</option>
        </select>
      
        <select name="branch" id="branchSelect" onchange="updateSections()">
          <option value="">Branch</option>
          <option value="cse">CSE</option>
          <option value="aiml">AIML</option>
          <option value="csds">CSDS</option>
          <option value="it">IT</option>
        </select>
      
        <select name="section" id="sectionSelect">
          <option value="">Section</option>
        </select>
      
        <button type="submit">Get</button>
      </form>
      
      <table>
        <thead>
          <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>Branch</th>
            <th>Section</th>
            <th>Year</th>
            <th>Event Attended</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(participant => { %>
            <tr>
              <td><%= participant.rollno %></td>
              <td><%= participant.name %></td>
              <td><%= participant.branch %></td>
              <td><%= participant.section %></td>
              <td><%= participant.year %></td>
              <td><%= participant.event %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  
      <button class="go-back"><form method="get" action="faculty1.ejs"><a href="/faculty1">⬅ Go Back</a></form></button>
    </main>
  </body>
  <footer style="position: relative;">
    <%- include("partials/footer") %>
    </footer>